# general modules
django >3.2,<3.3

# 3rd party modules
environs

# rest framework
djangorestframework
markdown
django-filter
djangorestframework-simplejwt

# documentation
coreapi
drf-yasg[validation]
drf-spectacular