# general modules
django >3.2,<3.3

# 3rd party modules
environs
python-decouple
Faker

# rest framework
djangorestframework
markdown
django-filter
djangorestframework-simplejwt

# documentation
coreapi
drf-yasg[validation]
drf-spectacular

# reformat and lint
flake8
black

# tests
pytest
pytest-django


# background process and cache
celery
redis
django-celery-beat
