<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Detail</title>
</head>
<body>
    <h1>{{task.title}}</h1>
    <p>author : {{task.author}}</p>
    <p>date : {{task.datetime_created}}</p>
    {% if task.is_done %}
    <p>done : ✅</p>
    {% else %}
    <p>done : ❌</p>
    {% endif %}
    <a href="{% url 'todo:task-list' %}" style="text-decoration: none"><h2>Task List</h2></a>
    <a href="{% url 'todo:task-update' task.id %}" style="text-decoration: none" >
        <button type="button"  style="background-color: #41ce7c; font-size:20px; color:#000000; font-weight:bold; font-style:italic;">Update</button>
        </a>
    <a href="{% url 'todo:task-delete' task.id %}" style="text-decoration: none" >
            <button type="button"  style="background-color: #f31414; font-size:20px; color:#000000; font-weight:bold; font-style:italic;">Delete</button>
    </a>
</body>
</html>